---
BasedOnStyle: GNU
AlignConsecutiveMacros:
  Enabled: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: None
AlwaysBreakBeforeMultilineStrings: true
BinPackArguments: true
BinPackParameters: true
SpaceBeforeParens: Never
BreakBeforeBraces: Allman
