/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * Modifier: @warpaint9299
 *
 * Colors
 *
 * Available Colors Schemes
 *
 * darkblue
 **/

/* Import color-scheme from `colors` directory */

@import "~/.dwm/scripts/colors/darkblue.rasi"
